.nav {
    padding: 25px;
    background-color: rgb(27, 49, 83);
}

.nav .ul {
    display: block;
}

.nav .li {
    display: inline;
    margin: 10px;
}

.nav .a {
    color: white;
    text-decoration: none;
}

.nav .a:hover {
    color: lightslategray;
}

.header {
    padding: 100px;
    background-image: url("/ukraine-blog/public/uk.jpg");
    background-size: cover;
}

.header .h1 {
    text-align: center;
    width: 800px;
    margin: auto;
    display: inline-block;
}

.link {
    color: rgb(29, 92, 170);
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 8px orange;
}

.text {
    text-align: center;
}

.about {
    padding: 15px;
    text-align: center;
}

.footer {
    padding: 10px;
    background-color: rgb(27, 49, 83);
}

.footerp {
    color: white;
    text-align: center;
}


.heading {
    background-color: rgb(148, 162, 20);
    padding: 15px;
}

.ptext {
    text-align: center;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
}

.title {
    color: white;
    font-size: 25px;
    text-decoration: none;
}